*{
    margin: 0;
    padding: 0;
}
.bg{
background-color: rgb(165, 164, 164);
width: 100%;
height: 600px;
}
.bg__text{
   padding-top: 200px;
   max-width: 300px;
   padding-left: 500px;
}
.bg__text > button{
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}